# Переименуйте этот файл в .env и заполните переменные окружения

# Перейдите на https://stripe.com
# После входа перейдите в раздел Developers -> API keys.
# Получите тестовые ключи:

# Publishable key (начинается с 'pk__test__')
STRIPE_PUBLIC_KEY=

# Secret key (начинается с 'sk__test__')
STRIPE_SECRET_KEY=


# Django project settings
DEBUG=

# Django key
SECRET_KEY=

