{% extends 'base.html' %}

{% block title %}{{ item.name }}{% endblock %}

{% block content %}
<h1>{{ item.name }}</h1>
<p>{{ item.description }}</p>
<p>Price: ${{ item.get_display_price }}</p>
<button id="buy-button">Buy</button>

<script>
    var stripe = Stripe('{{ stripe_public_key }}');
    var buyButton = document.getElementById('buy-button');
    buyButton.addEventListener('click', function() {
        fetch('/buy/{{ item.id }}', {method: 'GET'})
            .then(response => response.json())
            .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
            .catch(function(error) {
                console.error('Error:', error);
            });
    });
</script>
{% endblock %}
